.title {
    font-size: 40px;
    margin-top: 20px;
}

.date {
    color: #8f8f8f;
    text-align: left;
}

.body {
    margin-bottom: 80px;
    margin-top: 20px;
}

.body img {
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

th {
    background-color: #AACBFF;
    border: none;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

