.body {
    color: #a0a0a0;
    font-size: 15px;
    padding-indent: 1em;
    text-indent: 1em;
}

.box {
    border: solid;
    border-color: #e0e0e0;
    border-radius: 5px;
    border-width: 2px;
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 10px;
    vertical-align: top;
    width: 100%;
}

.title {
    color: #030303;
    font-size: 14px;
    font-weight: 900;
}
