.header {
    margin: auto;
    width: 60%;
}

.image {
    margin: 0 0 -4px 0;
    width: 100%;
}

.link {
    text-decoration: none;
}

.title {
    color: white;
    margin: 0;
    padding: 8px 0 4px 0;
}
